.list__item {
    padding: 8px 0;
    border-bottom: 1px solid rgb(119, 119, 119);
}

.list__item + .list__item {
    margin-top: 16px;
}

.list__div {
    width: 200px;
    height: 200px;
    background-color: greenyellow;
}

.d-inline {
    display: inline;
}

.d-block {
    display: block;
}

.d-inline-block {
    display: inline-block;
}

.d-flex {
    display: flex;
}

.box-example {
    gap: 16px;
}

.box-example {
    padding-bottom: 16px;
}

.box-example__item {
    width: 200px;
    height: 200px;
    background-color: deepskyblue;
    padding: 10px;
    margin: 10px;
    border: 1px solid rgb(119, 119, 119);
}

.box-sizing-content {
    box-sizing: content-box;
}