.list {
    display: flex;
    gap: 8px;
}

.list-item {
    padding: 8px;
    height: 300px;
    background-color: turquoise;
    flex-grow: 3;
}

.o-auto {
    overflow: auto;
}

.o-hidden {
    overflow: hidden;
}

.o-scroll {
    overflow: scroll;
}