@use "variables" as *;

button {
  background-color: $primary-color;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  color: $font-color;
  font-family: 'Roboto', sans-serif;

  &#clicker {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  &:hover {
    background-color: $primary-color-hover;
    font-weight: 700;
  }
}