.mazon-gourmet {
  .main-container {
    .inner {
      background: linear-gradient(0deg, rgba(0, 0, 0, .83) 0%, rgba(80, 57, 43, 0.83) 100%);
    }

    .sections-wrap {
      .section {
        background-color: rgba(0, 0, 0, .83);
        margin-top: 0;

        .btn-row {
          .btn {
            background-color: #36271c;

            & + .btn {
              margin-left: 20px;
            }
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(xs) {
  .mazon-gourmet {
    .main-container {
      .sections-wrap {
        .section {
          .btn-row {
            .btn {
              & + .btn {
                margin-left: 0;
                margin-top: 10px;
              }
            }
          }
        }
      }
    }
  }
}