:root {
    --base-width: 150px;
}

.margin-r {
    margin-right: 15px;
}

.layout-flex__item,
.layout-flex__child,
.layout-float__item,
.layout-float__child {
    border: 1px solid #1c1b1b;
}

.layout-flex__item + .layout-flex__item,
.layout-float__item + .layout-float__item {
    margin-top: 15px;
}

/* FLEX LAYOUT */
.layout-flex__item {
    display: flex;
    background-color: #d9835f;
    padding: 15px;
    gap: 15px;
}

.layout-flex__child-container {
    display: flex;
    gap: 15px;
}

.layout-flex__child {
    width: var(--base-width);
    min-height: 50px;
    background-color: #490515;
}

.justify-space-between {
    justify-content: space-between;
}

.justify-end {
    justify-content: end;
}

.justify-center {
    justify-content: center;
}

.column {
    flex-direction: column;
}

/* FLOAT LAYOUT */
.layout-float__item {
    background-color: #63f19d;
    padding: 15px;
    width: 100%;
}

.layout-float__child {
    width: var(--base-width);
    min-height: 50px;
    background-color: #020c75;
}

.layout-float__child + .layout-float__child {
    margin: 0 0 0 15px;
}

.layout-float__children-wrapper {
    margin: 0 auto;
}

.column-item + .column-item {
    margin: 15px 0 0 0;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
}
.clearfix::after {
    clear: both;
}

.pos-rel {
    position: relative;
}

.pos-abs {
    position: absolute;
    top: 15px;
    bottom: 15px;
    right: calc(var(--base-width) + 15px);
    width: var(--base-width);
}

.layout-float__child--pos-abs {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: var(--base-width);
}

.center-wrapper {
    width: calc(15px + var(--base-width) * 2);
    margin: 0 auto;
    height: auto;
}

.layout-float__child-container.center {
    margin-left: calc(var(--base-width) + 15px);
}
