@use "variables" as *;
@use "mixins" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @include flex-center;
  font-family: 'Courier New', Courier, monospace;
  background-color: $bg-color;
  height: 100vh;
}