@use "variables" as *;
@use "mixins" as *;
@use "base" as *;
@use "buttons" as *;

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

.btn-group {
  display: flex;
  gap: 40px;
  padding-top: 16px;
  padding-bottom: 16px;
}