@import "variables";
@import "mixins";

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  @include text-settings(16px, 400, $color-grey);
  line-height: 1.6;
}

a {
  text-decoration: none;
}