@mixin text-settings($size, $weight, $color) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

@mixin vertical-paddings($top, $bottom) {
  padding-top: $top;
  padding-bottom: $bottom;
}

/** Media mixin **/
$sizes: ("sm":425px, "md":768px);

@mixin media($media) {
  @each $size, $resolution in $sizes {
    @if $media == $size {
      @media (max-width: $resolution) {
        @content;
      }
    }
  }
}