.list__item {
    padding: 8px 0;
    border-bottom: 1px solid rgb(119, 119, 119);
}

.list__item + .list__item {
    margin-top: 16px;
}

.list__svg {
    stroke-width: 5px;
}

.square {
    fill: yellowgreen;
    stroke: #263401FF;
}

.rect {
    fill: deepskyblue;
    stroke: #03445BFF;
}

.circle {
    fill: chocolate;
    stroke: #652D07FF;
}

.ellipse {
    animation: ellipse-color 1s infinite;
}

@keyframes ellipse-color {
    0%   { fill: violet; stroke: #7a207a;}
    25%  { fill: #e169e1; stroke: #701570; }
    50%  { fill: #be2abe; stroke: #650d65; }
    75%  { fill: #ab0bab; stroke: #570457; }
    100% { fill: #800280; stroke: #250025; }
}