// ========== BASE START ========== //
body {
   font: $fontBasicWeight #{$fontBasicSize}/#{$fontBasicLineHeight} $fontBasic;
   color: $textColorWhite;
   background-color: $bgColorLightBlue;

  &.mazon-gourmet {
    background: transparent url(../img/png/factura.png) center / cover no-repeat;
  }
}

::selection {
  color: #fff;
  background-color: #004fe4;
}
// ========== BASE END ========== //
