// ========== SETTINGS START ========== //
// ===== Fonts Start ===== //
$fontMontserratRegular: 'Montserrat', sans-serif;

$fontBasic: $fontMontserratRegular;
$fontBasicSize: 16px;
$fontBasicLineHeight: 1.5;
$fontBasicWeight: 400;
$fontBoldWeight: 700;
// ===== Fonts End ===== //

// ===== Colors Start ===== //
// Background Colors //
$bgColorBlue: #10223c;
$bgColorLightBlue: #55667f;

// Text Colors //
$textColorWhite: #fff;
// ===== Colors End ===== //
// ========== SETTINGS END ========== //